<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	
	<link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/webjars/font-awesome/5.15.3/css/fontawesome.min.css" />
	
</head>
<body>

	<header th:replace="fragments.html :: header"></header>
	
	<main class="container">
		<div class="row">
			<div class="col-sm-8 col-md-6">
				<h2>Login</h2>
				
				<div class="alert alert-danger" th:if="${error}">Falsche Zugangsdaten!</div>
				
				<form th:action="@{/login}" method="post">
					
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" name="email" id="email" />
					</div>
					
					<div class="mb-3">
						<label for="password" class="form-label">Passwort</label>
						<input type="password" class="form-control" name="password" id="password" />
					</div>
				
					<button class="btn btn-success">Login</button>
				</form>
				
				<a href="/register">Ich haben noch keinen Account</a>
			
			</div>
		</div>
	</main>
	
	
	
	

	<script src="/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>	
</body>
</html>
