<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	
	<link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/webjars/font-awesome/5.15.3/css/fontawesome.min.css" />
	
</head>
<body>

	<header th:replace="fragments.html :: header"></header>
	
	<main class="container">
		<div class="row">
			<div class="col-sm-8 col-md-6">
				<h2>Benutzer Registrierung</h2>
				
				<div th:if="${error}" class="alert alert-danger">Fehler im Formular</div>
				
				<form th:action="@{/register}" method="post" th:object="${user}">
					
					<div class="mb-3">
						<label for="name" class="form-label">Name</label>
						<input type="text" class="form-control" th:field="*{name}" required="required" />
						<div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					</div>
					
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" th:field="*{email}" required="required" />
						<div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
					</div>
					
					<div class="mb-3">
						<label for="password" class="form-label">Passwort</label>
						<input type="password" class="form-control" th:field="*{password}" required="required" />
						<div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
					</div>
				
					<button type="submit" class="btn btn-success">Speichern</button>
				</form>
			
			</div>
		</div>
	</main>
	
	
	
	

	<script src="/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>	
</body>
</html>
