<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	
	<link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/webjars/highlightjs/10.1.2/styles/default.min.css" />
	
</head>
<body>
	
	<header th:replace="fragments.html :: header"></header>

	<main class="container mb-3">
		<div class="row">
			<div class="col">
			
				<h2>Public Snippets</h2>
				
				<div th:each="snippet : ${snippets}" class="card mb-3">
					<div class="container card-header">
						<div class="row">
							<div class="col">
								<span th:text="${snippet.name}"></span>
								<span class="badge bg-info text-dark" th:text="${snippet.language.label}"></span>
							</div>
							<div class="col text-end">
								Autor: <span th:text="${snippet.folder.user.name}" class="text-end"></span>
							</div>
						</div>
					</div>
					<div class="card-body">
						<p th:text="${snippet.description}"></p>
						<pre><code th:class="@{'language-' + ${snippet.language.langFile}}" th:text="${snippet.code}"></code></pre>
					</div>
					<div class="card-footer text-end">
						<a sec:authorize="isAuthenticated()" th:href="@{'/snippet/' + ${snippet.id} + '/grab'}" title="In eigene Sammlung übernehmen" class="btn btn-outline-primary"><i class="fa fa-sign-in"></i></a>
						<button type="button" title="In die Zwischenablage kopieren" class="btn btn-outline-success clipboard"><i class="fa fa-clipboard"></i></button>
    				</div>
				</div>
			
			</div>
		</div>
	</main>
	
	<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
	  <div id="clipboardToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
	    <div class="toast-header">
	      <i class="fa fa-clipboard"></i>
	      <strong class="me-auto">Clipboard</strong>
	      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
	    </div>
	    <div class="toast-body">
	      Code wurde ins Clipboard kopiert.
	    </div>
	  </div>
	</div>
	
	<script src="/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
	<script src="/webjars/highlightjs/10.1.2/highlight.min.js"></script>
	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
	<script>
	hljs.initHighlightingOnLoad();
	
	$('button.clipboard').click(function() {
		var snippet = $(this).parent().parent(); // Snippet-Element finden
		var code = $('code', snippet).text(); // Inhalt des Code-Tags aus dem Snippet-Element lesen
		navigator.clipboard.writeText(code); // Inhalt ins Clipboard einsetzen
		
		var clipboardToast = document.getElementById('clipboardToast');
		var toast = new bootstrap.Toast(clipboardToast);
	    toast.show()
	});
	
	</script>
</body>
</html>
