<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	
	<link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/webjars/font-awesome/5.15.3/css/fontawesome.min.css" />
	
</head>
<body>
	
	<header th:replace="fragments.html :: header"></header>

	<main class="container">
		<div class="row">
			<div class="col">
				<h1 th:text="${title}"></h1>
				<p th:text="${content}"></p>
			</div>
		</div>
	</main>
	
	<script src="/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>	
</body>
</html>
